<%= title 'Emite' %>
<h2>A Google Web Toolkit XMPP Library</h2>

<h3>Demos</h3>
<%= link_to 'Ping', {:controller =>'demos', :action =>'ping'} %>
<%= link_to 'Pong', {:controller =>'demos', :action =>'pong'} %>

